body {
  margin: 0;
  background: radial-gradient(circle, #4b0000, #1a1a1a);
  font-family: 'Courier New', monospace;
  color: #ff4d4d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  text-align: center;
  margin-top: 20px;
}

#timer {
  font-size: 3rem;
  letter-spacing: 4px;
  color: #ff0000;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0.4; }
}

#puzzle-board {
  margin-top: 30px;
   width: 480px;
  height: 480px;
  grid-template-columns: repeat(4, 1fr);
  display: grid;

  gap: 2px;
  background: #2a2a2a;
  border: 4px solid #ff0000;
  box-shadow: 0 0 30px red;
}

.piece {
  width: 100%;
  height: 100%;

  filter: brightness(0.9) contrast(1.1);


  background-image: url("assets/puzzle.jpg");
  background-size: 480px 480px;
  cursor: grab;
  border: 1px solid #550000;
}

#nextBtn {
  margin-top: 40px;
  padding: 18px 60px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  background: #ff0000;
  color: #f2eadf;
  border: none;
  box-shadow: 0 0 25px red;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}


